<div class="center">
    <section id="content">


        <h1 class="subheader">{{page_title}}</h1>

        <form class="mid-form" #articleForm="ngForm" (ngSubmit)="capDatos()">
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required />
                <small *ngIf="!title.valid && title.touched">
                    El titulo no es valido
                </small>
            </div>

            <div class="form-group">
                <label for="content">contenido</label>
                <textarea name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>
                <small *ngIf="!content.valid && content.touched">
                    El contenido no es valido
                </small>
            </div>
            <div class="form-group">
                <div clas="img-tumb" *ngIf="is_edit">
                    <img src="{{url+'get-image/'+article.img}}" alt="{{article.title}}" *ngIf="article.img" />
                    <img src="../../../assets/image/defecto.png" alt="{{article.title}}" *ngIf="!article.img" />
                </div>
                <angular-file-uploader 
                [config]="afuConfig"
                (ApiResponse)="imageUpload($event)"
                >
          </angular-file-uploader>

            </div>

            <div class="clearfix"></div>

            <input type="submit" value="Guardar" class="btn btn-success" [disabled]="articleForm.invalid" />

        </form>
    </section>
    <app-sidebar></app-sidebar>

</div>